.container-fluid img {
    width: 90px;
    margin-left: 18px;
}
.list-group-item {
    border: none;
    font-size: 0.8em;
    font-weight: 600;
    color: rgb(107, 105, 105);
    padding: 0.4rem 1.25rem;
}

.container-fluid .row:nth-child(3) p {
    color: rgb(107, 105, 105);
    margin-left: 18px;
    font-size: 0.8em;
    margin-top: 10px;
}

.container-fluid svg {
    border-radius: 50%;
    color: rgb(95, 94, 94);
    font-size: 20px;
}