.container-fluid {
    padding: 0px;
    margin: 0px;
    background-color: #FFFFFF;
}

.navbar {
    margin: 0px 100px 0px 100px;
    text-align: center;
    align-items: center;
    line-height: 20px;
    

}

.navbar img {
    width: 35px;

}

.navbar .form-control {
    background-color: #EEF3F8 ;
    border: none;
}

.navbar .searchbar {
    display: flex;
    background-color: #EEF3F8;

}
.navbar .searchbar svg{
    background-color: #EEF3F8;
    line-height: 1.4;
    text-align: center;
    margin: 12px 0px 10px 20px;
    
}

.navbar-nav div {
    margin: 0px 7px;
   width: 80px;
}
.navbar-nav .nav-link {
   color: gold;
}
.navbar-nav .myprofile {
    margin: 0px 7px 0px 7px;
    padding-right: 10px;
   
}

.navbar-nav svg {
    font-size: 1.5em;
    padding: 0%;
    margin: 0px 10px;
    color: rgb(149, 147, 147);
    padding-bottom: 3px;
    max-height: 23px;
}
.navbar-nav svg:hover {
    font-size: 1.5em;
    padding: 0%;
    margin: 0px;
    color: #191919;
}

.navbar-nav a {
    font-size: 0.7em;
    padding: 0%;
    margin: 0px;
}

.navbar .myprofile {
    border-right: 1px solid rgb(230, 229, 229);
}
.navbar .myprofile .dropdown a {
   margin-right: 18px;
}
.navbar .myprofile img {
    width: 1.4em;
   border-radius: 50%;
}